{% extends "base/base.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
              <li class="breadcrumb-item active" aria-current="page">Tentang Aplikasi</li>
            </ol>
        </nav>
        <h2 class="h4">Tentang Aplikasi</h2>
        <p class="mb-0">Detail aplikasi prediksi tingkat aerosol</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="window.history.back();">Kembali</button>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Tentang aplikasi</h4>
                <p>Aplikasi prediksi tingkat aerosol di udara merupakan aplikasi untuk memprediksi tingkat aerosol di udara dengan input berupa tingkat embun, kelembaban, tekanan, dan inputan lain sebagaimana tampil di halaman prediksi. Aplikasi ini dilengkapi dengan fitur normalisasi dataset, dan pelatihan dataset guna menunjang tingkat akurasi yang ada di dalam sistem.</p>
                <p>Aplikasi prediksi tingkat aerosol di udara ini menggunakan dua algoritma dalam menjalankan tugas yang di-input-kan, yaitu <i>Backpropagation neural network (BPNN)</i> dan algoritma BPNN yang dioptimasi oleh <i>Artificial bee colony (ABC)</i>. Algoritma bisa dipilih saat proses pelatihan data yang mana perbedaan tingkat akurasi bisa dilihat dari hasil prediksinya.</p>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Pengembang</h4>
                <p class="lead">Khoerul Umam</p>
                <p>Mahasiswa jurusan Ilmu Komputer, Fakultas Matematika dan Ilmu Pengetahuan Alam, Universitas Negeri Semarang</p>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Pembimbing</h4>
                <p class="lead">ZAENAL ABIDIN, S. Si., M. Cs., Ph.D</p>
                <p>Dosen jurusan Ilmu Komputer, Fakultas Matematika dan Ilmu Pengetahuan Alam, Universitas Negeri Semarang</p>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Versi Aplikasi</h4>
                <p><b>V1.2</b></p>
                <ul>
                    <li>Perbaikan dan penyempurnaan</li>
                </ul>
                <p><b>V1.1</b></p>
                <ul>
                    <li>Perbaikan dan penyempurnaan</li>
                    <li>Menambahkan fitur untuk melihat data pelatihan</li>
                    <li>Menambahkan fitur untuk melihat data normalisasi</li>
                    <li>Menambahkan fitur untuk melihat data testing</li>
                </ul>
                <p><b>V1.0</b></p>
                <ul>
                    <li>Menambahkan fitur prediksi</li>
                    <li>Menambahkan fitur pelatihan data</li>
                    <li>Menambahkan fitur normalisasi</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}