{% extends "base/base.html" %}

{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <h2 class="h4">Data Pelatihan</h2>
        <p class="mb-0">Informasi detail data hasil pelatihan</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="window.history.back();">Kembali</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Data</h4>
                <hr>
                <form action="/datatraining" id="data_form" method="POST">
                    <div class="form-group">
                        <label for="data_source">Sumber Data</label>
                        <select name="data_source" id="data_source" class="form-control" required>
                            {% for sourcefile in sourcefiles %}
                            <option value="{{ sourcefile }}">{{ sourcefile }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn btn-primary px-4">Tampilkan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Hasil Data</h4>
                <hr>
                <div class="table-responsive">
                    <table class="table" id="datatable">
                        <thead>
                            {% for header in results[0] %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% for rows in results %}
                                <tr>
                                    {% for index in results[0] %}
                                        <td>{{ rows[index] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#datatable').DataTable();
    });
</script>

{% endblock javascripts %}