{% extends "base/base.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
        <h2 class="h4">Dashboard</h2>
        <p class="mb-0">Selamat datang disitem prediksi tingkat aerosol</p>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <div class="text-center">
                    <img src="/static/assets/img/unnes.png" class="img-fluid" alt="UNNES" width="200">
                    <h5>SKRIPSI</h5>
                    <h5>PREDIKSI TINGKAT AEROSOL PADA PENCEMARAN UDARA<br>DENGAN MENGGUNAKAN BACKPROPAGATION NEURAL<br>NETWORK MELALUI PENDEKATAN ARTIFICIAL BEE COLONY</h5>
                    <h6>DISUSUN OLEH<br>KHOERUL UMAM (4611417010)</h6>
                    <h6>DOSEN PEMBIMBING<br>ZAENAL ABIDIN, S. Si., M. Cs., Ph.D</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}