{% extends "base/base.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
              <li class="breadcrumb-item active" aria-current="page">Prediksi</li>
            </ol>
        </nav>
        <h2 class="h4">Prediksi Tingkat Aerosol</h2>
        <p class="mb-0">Untuk memprediksikan tingkat aerosol, harap isi semua kolom di bawah</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="window.history.back();">Kembali</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Prediksi Tingkat Aerosol</h4>
                <hr>
                <form method="POST" id="predict_data">
                    <div class="form-group">
                        <label for="model">Model</label>
                        <select name="model" id="model" class="form-control" required>
                            {% for model in models %}
                            <option value="{{ model }}">{{ model }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mt-3">
                                <label for="dewp">Tingkat embun</label>
                                <input type="number" id="dewp" name="dewp" class="form-control" required placeholder="Tingkat embun" step="0.01" data-name="Tingkat embun">
                            </div>
                            <div class="form-group mt-3">
                                <label for="humi">Tingkat kelembaban</label>
                                <input type="number" id="humi" name="humi" class="form-control" required placeholder="Tingkat kelembaban" step="0.01" data-name="Tingkat kelembaban">
                            </div>
                            <div class="form-group mt-3">
                                <label for="pres">Tekanan</label>
                                <input type="number" id="pres" name="pres" class="form-control" required placeholder="Tekanan" step="0.01" data-name="Tekanan">
                            </div>
                            <div class="form-group mt-3">
                                <label for="temp">Temperatur (C)</label>
                                <input type="number" id="temp" name="temp" class="form-control" required placeholder="Temperatur" step="0.01" data-name="Temperatur">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mt-3">
                                <label for="cbwd">Arah mata angin</label>
                                <select name="cbwd" id="cbwd" class="form-control" required>
                                    <option value="0">Utara</option>
                                    <option value="1">Timur Laut</option>
                                    <option value="2">Timur</option>
                                    <option value="3">Tenggara</option>
                                    <option value="4">Selatan</option>
                                    <option value="5">Barat Daya</option>
                                    <option value="6">Barat</option>
                                    <option value="7">Barat Laut</option>
                                    <option value="8">Tenang dan beragam</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label for="iws">Indeks kecepatan angin</label>
                                <input type="number" id="iws" name="iws" class="form-control" required placeholder="Indeks kecepatan angin" step="0.01" data-name="Indeks kecepatan angin">
                            </div>
                            <div class="form-group mt-3">
                                <label for="precipitation">Presipitasi</label>
                                <input type="number" id="prec" name="precipitation" class="form-control" required placeholder="Presipitasi" step="0.01" data-name="Presipitasi">
                            </div>
                            <div class="form-group mt-3">
                                <label for="iprec">Indeks kecepatan presipitasi</label>
                                <input type="number" id="iprec" name="iprec" class="form-control" required placeholder="Indeks kecepatan presipitasi" step="0.01" min="0" data-name="Indeks kecepatan presipitasi">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn btn-primary px-4" type="button" id="predict_btn">Prediksi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5" id="result_train" style="display: none;">
    <div class="col-md-12" id="result_loading" style="display: none;">
        <div class="card border-light shadow-sm">
            <div class="card-body text-center">
                <img src="\static\assets\img\loading.gif" alt="Loading" height="50">
            </div>
        </div>
    </div>
    <div class="col-md-12" id="result_field" style="display: none;">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h4>Hasil Prediksi</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-primary">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>Tingkat embun</td>
                                        <td id="dewp_val"></td>
                                        <td>Arah mata angin</td>
                                        <td id="cbwd_val"></td>
                                    </tr>
                                    <tr>
                                        <td>Tingkat kelembaban</td>
                                        <td id="humi_val"></td>
                                        <td>Indeks kecepatan angin</td>
                                        <td id="iws_val"></td>
                                    </tr>
                                    <tr>
                                        <td>Tekanan</td>
                                        <td id="pres_val"></td>
                                        <td>Presipitasi</td>
                                        <td id="prec_val"></td>
                                    </tr>
                                    <tr>
                                        <td>Temperatur</td>
                                        <td id="temp_val"></td>
                                        <td>Indeks kecepatan presipitasi</td>
                                        <td id="iprec_val"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="alert alert-success">
                            <div class="text-center">
                                <p class="lead">Perkiraan tingkat aerosol</p>
                                <p class="lead" id="resultreal"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    $('#predict_btn').on('click', function() {
        if(!validateData()) return false;
        $('#result_train').show();
        $('#result_loading').show();
        var data = $('#predict_data').serialize()

        $.ajax({
            type: 'POST',
            url: '/predicting',
            data: data,
            cache: false,
            async: true,
            success: function (data) {
                if (data.error) {
                    Swal.fire({
                        title: "Data tidak lengkap",
                        text: data.message,
                        icon: "error"
                    });
                }

                $('#result_loading').hide();
                $('#result_field').show();
                $('#dewp_val').html($('#dewp').val());
                $('#humi_val').html($('#humi').val());
                $('#pres_val').html($('#pres').val());
                $('#temp_val').html($('#temp').val());
                $('#cbwd_val').html($('#cbwd').val());
                $('#iws_val').html($('#iws').val());
                $('#prec_val').html($('#prec').val());
                $('#iprec_val').html($('#iprec').val());
                $('#resultreal').html('~' + (((data.max_config - data.min_config) * data.result[0][0]) + data.min_config).toFixed(3))
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    })

    function validateData() {
        var isValid = true;
        $("input").each(function() {
            var element = $(this);
            if (element.val() == "" || element.val() == null) {
                isValid = false;
                Swal.fire({
                    title: "Data tidak lengkap",
                    text: element.data('name') + ' tidak boleh kosong',
                    icon: "error"
                });
                return false;
            }
        });
        return true;
        
    }
</script>
{% endblock javascripts %}